// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

// Optional: Define a variable for the red color to reuse later
$required-color: red;

.required-asterisk {
  color: $required-color;
  margin-left: 4px;
}

